*::before, *, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

@font-face {
    font-family: 'poppinsLight';
    src: url('/font/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'poppinsRegular';
    src: url('/font/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppinsBold';
    src: url('/font/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'LexendBold';
    src: url('/font/Lexend/Lexend-Bold.ttf');
}

@font-face {
    font-family: 'LexendMedium';
    src: url('/font/Lexend/Lexend-Medium.ttf');
}

@font-face {
    font-family: 'LexendRegular';
    src: url('/font/Lexend/Lexend-Regular.ttf');
}

@font-face {
    font-family: 'LexendSemiBold';
    src: url('/font/Lexend/Lexend-SemiBold.ttf');
}

html{
    min-height: 100vh;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    height: 100%;

    position: relative;
    background-color: rgb(240, 240, 240);
}

.start{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    position: relative;
}


.info{
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    position: relative;
    
    margin-bottom: 50px;
    z-index: 10;
}

.info .buttons{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    
    display: flex;
    flex-direction: row;

    position: relative;
}

.info img{
    height: 40vh;
    object-fit: cover;

    position: absolute;
    z-index: 10;

    bottom: 0;
    transform: rotate(20deg);
}

.info .buttons button{
    
    margin: 5px;
    
    font-size: 16px;
    font-family: LexendMedium;
    
    border: none; 
    border-radius: 3px;
    
    cursor: pointer;

    position: relative;
}

.info .buttons button a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;

    background-color: rgb(24, 133, 250);
    border-radius: 3px;

    padding: 9px 13px 9px 13px;

    position: relative;
}

.info .buttons button:nth-child(1){
    background-color: transparent;
    color: rgb(21, 21, 21);
    user-select: none;
    cursor: not-allowed;
}

.info .buttons button:nth-child(2){
    background-color: rgb(24, 133, 250);
    color: #fff;
}

/* .info .buttons button:nth-child(1):hover{
    background-color: rgba(211, 226, 255, 0.672);
} */

.info .buttons button:nth-child(2):hover{
    background-color: rgb(21, 119, 223);
    color: #fff;
}

.info h1{
    font-family: poppinsBold;
    margin-bottom: 30px;
    
    text-align: center;
    color: rgb(21, 21, 21);
}

.info p{
    font-family: poppinsLight;
    font-size: 14px;
    line-height: 2;
    
    color: rgb(34, 34, 34);
    text-align: justify;
}

.container{
    width: 90%;
    max-width: 1000px;
    height: calc(100% -  80px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    padding: 30px;
}



.flex{
    width: 100%;
    
    /* height: 300px; */
    min-height: 400px;
    max-height: fit-content;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;

    margin-bottom: 50px;
    overflow: hidden;
    
    padding: 20px 0 20px 0;

    border: 1px solid rgb(214, 214, 214);
    border-radius: 3px;
}

.flex .about{
    width: 50%;
    height: 100%;

    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex .about h1{
    font-family: LexendBold;
    font-size: 3vh;
    color: rgb(43, 43, 43);

}

.flex .about h2{
    font-family: LexendMedium;
    font-size: 15px;

    color: rgb(189, 189, 189);
    margin-bottom: 40px;
}

.flex .about p{
    font-family: 'poppinsRegular';
    font-size: clamp(13px, 14px, 16px);

    text-align: justify;

    color: rgb(57, 57, 58);

    line-height: 1.9;

    text-indent: 4ch;
}

.flex .about p span{
    color: rgb(132, 60, 226);
    font-weight: 600;
}

.flex .image{
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    height: 100%;

    padding: 20px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flex .image img{
    
    width: 65%;
    height: 65%;

    object-fit: contain;
}
.flex .image:nth-child(2) img{
    
    width: 45%;
    height: 45%;

    object-fit: contain;
}

.container .form{
    width: 100%;
    min-width: 900px;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: relative;

    background-color: #fff;
    box-shadow: 0 0 14px rgba(202, 202, 202, 0.953);

    border-radius: 3px;

    margin-bottom: 80px;
}

.form .header-form{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid rgb(194, 194, 194);
}


.form .header-form .title{
    width: 100%;
    height: fit-content;

    padding: 40px 20px 40px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form .header-form .title h1{
    font-family: LexendBold;
    color: rgb(41, 41, 41);
}

.form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 90%;
    height: 100%;
    min-height: fit-content;

    padding: 20px 0 80px 0;
}

form .pergunta{
    width: 80%;
    height: fit-content;
    margin: 5px;
}

form .pergunta p{
    font-family: LexendMedium;
    font-size: 15px;

    line-height: 1.8;
}

form .resposta{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 51, 56);
}

form .resposta-radio{
    margin: 20px 0 40px 0;
    display: flex;
    flex-direction: column;

    width: 80%;
}

form .resposta-radio label{
    margin: 7px;
}

form .resposta-text{
    width: 80%;
    height: 50px;

    background-color: #fff;

    position: relative;

    bottom: 0;
    margin: 10px 0 70px 0;

    overflow: hidden;
}

form .label-name{
    position: relative;
    width: 100%;
    height: 100%;    
}
form .label-name .content-name{
    position: relative;
    width: 100%;
    height: fit-content;
}

form .resposta-text input + .label-name .content-name::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(0, 95, 167);

    position: absolute;
    bottom: 0;
    right: 2000px;

    transition: 0.2s;
}

form .resposta-text input:focus + .label-name .content-name::after,
form .resposta-text input:valid + .label-name .content-name::after{
    right: 0px; 
    bottom: -25px;   
}

form .resposta-text input{
    position: absolute;
    bottom: 0;
    left: 2px;

    width: 100%;
    height: 20px;

    outline: none;
    border: none;

    border-bottom: 1px solid rgb(34, 34, 34);
}

form .resposta-text .label-name{
    position: absolute;
    bottom: 0;
    left: 2px;

    pointer-events: none;
}

form .resposta-text .label-name .content-name{
    font-size: 16px;
    color: rgb(153, 153, 153);
    position: absolute;

    bottom: 0;
    transition: 0.2s;
}


form .resposta-text input:focus + .label-name .content-name,
form .resposta-text input:valid + .label-name .content-name{
    bottom: 25px;
    font-size: 13px;
    color: rgb(0, 95, 167);
}

form .resposta-check{
    width: 80%;
    height: fit-content;

    position: relative;

    bottom: 0;
    margin: 10px 0 70px 0;

    display: flex;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;
}

form .resposta-check .checks{
    display: flex;

    margin: 1px 0 1px 0;

    width: fit-content;
    height: fit-content;

    align-items: center;
}

form .resposta-check .checks input{
    margin: 10px;
    width: 15px;
    height: 15px;
}

footer{
    height: 80px;
    width: 100%;

    position: absolute;
    bottom: 0;

    margin-top: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(21, 21, 21);
}

footer p{
    color: rgb(130, 130, 130);
    font-family: 'poppinsLight';
    font-size: 13px;

    position: relative;
}

@media only screen and (max-width: 800px) {
    .start{
        padding: 10px;
    }
    .container{
    padding: 0px;
    width: 100%;

    }

    .flexes{
    width: 85%;
    }

    .flex:nth-child(1){
        flex-direction: column-reverse;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .flex:nth-child(2){
        flex-direction: column;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 5px;
    }
    
    .flex .about{
        width: 100%;
        height: 50%;

    }
    .flex .image{
        height: 50%;
        width: 100%;

        margin-bottom: 15px;
    }

    .flex .image:nth-child(1) img{
        width: 100%;
        min-width: 200px;
        max-width: 200px;
    }
    .flex .image:nth-child(2) img{
        width: 100%;
        min-width: 115x;
        max-width: 115px;
    }

    .container .form{
        width: 100%;
        min-width: fit-content;
    }

    .form form{
        width: 95%;
    }

    form .pergunta{
        width: 95%;
        height: fit-content;
        margin: 5px;
    }

    form .resposta{
        width: 90%;
    }

  }