*::before, *, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

@font-face {
    font-family: 'poppinsLight';
    src: url('/font/Poppins/Poppins-Light.ttf');
}


@font-face {
    font-family: 'poppinsRegular';
    src: url('/font/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppinsBold';
    src: url('/font/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'LexendBold';
    src: url('/font/Lexend/Lexend-Bold.ttf');
}

@font-face {
    font-family: 'LexendMedium';
    src: url('/font/Lexend/Lexend-Medium.ttf');
}

@font-face {
    font-family: 'LexendRegular';
    src: url('/font/Lexend/Lexend-Regular.ttf');
}

@font-face {
    font-family: 'LexendSemiBold';
    src: url('/font/Lexend/Lexend-SemiBold.ttf');
}

html{
    min-height: 100vh;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    height: 100%;

    position: relative;
    background-color: rgb(240, 240, 240);
}

::-webkit-scrollbar{
    width: 9px;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb{
    border-radius: 40px;
    background-color: rgb(59, 15, 146);
}
::-webkit-scrollbar-track{
    border-radius: 40px;
}
::-webkit-scrollbar-corner{
    border-radius: 40px;
    background-color: red;
}

::-webkit-scrollbar-button{
    background-color: rgb(59, 15, 146);
    height: 0px;
}

/* seta roll for more */

.start .info .seta{

    position: absolute;

    top: 20vh;

    max-width: 300px;
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    pointer-events: none;
    user-select: none;
}

.info .seta p{
    display: inline;
    color: rgb(63, 63, 63);

    font-family: 'PoppinsLight';
}

.info .seta .setas{
    position: absolute;
    top: 30px;
}

.info .seta .setas .seta-child{

    width: 17px;
    height: 17px;

    transform: rotate(315deg);

    border-top: transparent 1px solid;
    border-bottom: rgb(90, 90, 90) 1px solid;
    border-left:  rgb(90, 90, 90) 1px solid;
    border-right: transparent 1px solid;

    position: absolute;
}

@keyframes topDown {
    0%, 100%{
       margin-top: 0px;
    }
    50%{
        margin-top: 10px;
    }    
}

.seta .seta-child:nth-child(1){
    top: 1px;
    opacity: 20%;
    animation: topDown 1.8s linear infinite;

}
.seta .seta-child:nth-child(2){
    top: 10px;
    opacity: 50%;
    animation: topDown 1.8s linear infinite;

}
.seta .seta-child:nth-child(3){
    top: 20px;
    opacity: 70%;
    animation: topDown 1.8s linear infinite;

}


/* msg erro */
.erro{
    position: absolute;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    
    z-index: 1000;
    
    background-color: rgba(130, 134, 153, 0.74);

    display: none; 
 
    z-index: 1000;
}

.erro .msg-erro{
    max-width: 320px;
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    border: 1px solid #ddd;
    background-color: #fff;

    padding: 20px 45px 20px 45px;
    border-radius: 35px;

    box-shadow: 3px 13px 15px rgba(0, 0, 0, 0.275), 0 0 5px rgba(0, 0, 0, 0.175);

    position: fixed;

    top: 40%;
}
.erro .msg-erro .title-sad-erro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    width: 90%;

    margin-bottom: 10px;
}

.erro .msg-erro .title-sad-erro img{
    opacity: 80%;

    width: 60px;
    height: 60px;

    bottom: 4px;
    left: 5px;

    margin-bottom: 10px;

    position: relative;

    object-fit: cover;
}

.erro .msg-erro .title-sad-erro h1{
    font-family: PoppinsBold;
    font-size: 18px;
    color: rgb(232, 117, 117);
}

.erro .msg-erro p{
    font-family: LexendRegular;
    font-size: 15px;

    line-height: 1.1;
    color: rgb(119, 119, 119);

    text-align: center;

    margin-bottom: 25px;
}

.erro .msg-erro p span{
    color: red;
    font-size: 19px;

    position: relative;
    top: 5px;
}


.erro .msg-erro button{
    background-color: rgb(232, 117, 117);
    border: none;

    color: #fff;
    font-family: Arial;
    font-weight: 700;

    padding: 10px 22% 10px 22%;
    border-radius: 10px;

    cursor: pointer;
}

.erro .msg-erro button:hover{
    background-color: rgb(174, 79, 79);
}


/* msg loaging */

.loading{
    position: absolute;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    
    z-index: 1000;
    
    background-color: rgba(255, 255, 255, 0.74);

    display: none; 
    /* para flex */

    pointer-events: none;
}

.loading .circle{
    width: 30px;
    height: 30px;

    position: fixed;

    border-radius: 100%;

    top: 50%;
    left: 50%;

    border-left: 7px solid rgb(68, 30, 155);
    border-right: 7px solid  rgb(68, 30, 155);
    border-top: 7px solid  rgb(68, 30, 155);
    border-bottom: 7px solid transparent;

    animation: loading 0.7s linear infinite;
}

@keyframes loading {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* inicio */

.start{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    position: relative;
}


.info{
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    position: relative;
    
    margin-bottom: 50px;
    z-index: 10;
}

.info .buttons{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    
    display: flex;
    flex-direction: row;

    position: relative;
}

.info img{
    height: 40vh;
    object-fit: cover;

    position: absolute;
    z-index: 10;

    bottom: 0;
    transform: rotate(20deg);
}

.info .buttons button{
    
    margin: 5px;
    
    font-size: 16px;
    font-family: LexendMedium;
    
    border: none; 
    border-radius: 3px;
    
    cursor: pointer;

    position: relative;
}

.info .buttons button a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;

    background-color: rgb(0, 123, 255);
    border-radius: 3px;

    padding: 9px 13px 9px 13px;

    position: relative;
}
.info .buttons button a:hover{
   background-color: rgb(24, 120, 223);
}

.info .buttons button:nth-child(1){
    background-color: transparent;
    color: rgb(21, 21, 21);
    user-select: none;
    cursor: not-allowed;
}


.info .buttons button:nth-child(1):hover::after{
    content: '(Em breve)';
    position: absolute;
    left: -10px;
    top: 20px;

    opacity: 40%;

    white-space: nowrap;

}


.info h1{
    font-family: poppinsBold;
    margin-bottom: 30px;
    
    text-align: center;
    color: rgb(21, 21, 21);
}

.info p{
    font-family: poppinsLight;
    font-size: 14px;
    line-height: 2;
    
    color: rgb(34, 34, 34);
    text-align: justify;
}

.container{
    width: 90%;
    max-width: 1000px;
    height: calc(100% -  80px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    padding: 30px;
}



.flex{
    width: 100%;
    
    /* height: 300px; */
    min-height: 400px;
    max-height: fit-content;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;

    margin-bottom: 50px;
    overflow: hidden;
    
    padding: 20px 0 20px 0;

    border: 1px solid rgb(214, 214, 214);
    border-radius: 3px;
}

.flex .about{
    width: 50%;
    height: 100%;

    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex .about h1{
    font-family: LexendBold;
    font-size: clamp(18px, 3vh, 30px);
    color: rgb(43, 43, 43);

}

.flex .about h2{
    font-family: LexendMedium;
    font-size: 15px;

    color: rgb(111, 111, 111);
    margin-bottom: 40px;
}

.flex .about p{
    font-family: 'poppinsRegular';
    font-size: clamp(13px, 14px, 16px);

    text-align: justify;

    color: rgb(57, 57, 58);

    line-height: 1.9;

    text-indent: 4ch;
}

.flex .about p a{
    color:  rgb(132, 60, 226);
    font-weight: 600;
    cursor: pointer;
}

.flex .about p span{
    color: rgb(132, 60, 226);
    font-weight: 600;
}

.flex .image{
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    height: 100%;

    padding: 20px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flex .image img{
    
    width: 65%;
    height: 65%;

    object-fit: contain;
}
.flex .image:nth-child(2) img{
    
    width: 45%;
    height: 45%;

    object-fit: contain;
}

.container .toggle-form{
    width: 100%;
    height: fit-content;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 4px;

    margin-bottom: 45px;
}

.container .toggle-form p{
    font-family: 'PoppinsRegular';
    padding: 10px 20px 10px 20px;
    cursor: default;
    user-select: none;

    position: relative;
}

.container .toggle-form p .toggle-btn:hover,
.container .toggle-form p .toggle-btn:hover{
    background-color: #ddd;
} 

.container .toggle-form p .toggle-btn{
    font-family: 'PoppinsRegular';
    padding: 2px 10px 2px 10px; 
    margin-left: 9px;
    
    transform: rotate(90deg);
    position: absolute;

    border-radius: 4px;
    border: 1px solid rgb(208, 208, 208);
    background-color: rgba(214, 214, 214, 0.323);

    cursor: pointer;

    top: 7px;
}
.container .toggle-form p .toggle-btn-b{
    transform: rotate(0deg);
}

.container .form{
    width: 100%;
    min-width: 780px;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: relative;

    background-color: #fff;
    box-shadow: 0 0 14px rgba(202, 202, 202, 0.953);

    border-radius: 3px;

    margin-bottom: 80px;

    overflow: hidden;

}

.container .form-hidden{
    height: 0;
    overflow: hidden;
}

.form .header-form{
    width: 100%;
    height: 90px;
    border-radius: 2px;
}


.form .header-form .title{
    width: 100%;
    height: 100%;


    display: flex;
    flex-wrap: wrap;

    position: relative;
}

.form .header-form .title h1{

    position: relative;

    width: 100%;
    min-height: 50%;
    height: 65%;
    max-height: fit-content;

    display: flex;
    align-items: center;

    font-family: LexendBold;
    color: rgb(255, 255, 255);

    background-color: rgb(103, 56, 180);
    padding: 13px 30px 13px 30px;

    font-size: 18px;
}

.form .header-form .title h2{
    font-family: 'poppinsRegular';
    font-weight: 400;

    color: rgb(223, 204, 255);
    background-color: rgba(133, 103, 175, 0.227);
    
    padding: 6px 15px 6px 15px;
    
    border-radius: 3px;
    
    font-size: 14px;

    position: absolute;
    right: 6px;
    top: 9px;

    height: 45%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.309);
}

.form .header-form .title h2 span{
    color: red;
    font-size: 17px;

    transform: translate(0, 4px);
    margin: 0 4px 0 4px;
}   

.form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 90%;
    height: 100%;
    min-height: fit-content;

    padding: 20px 0 80px 0;
}

form .pergunta{
    width: 80%;
    height: fit-content;
    margin: 5px 0 10px 0;

    border-left: 3px solid rgb(127, 38, 216);
    padding-left: 10px;

    background-color: rgba(237, 237, 237, 0.535);
    padding: 4px 10px 4px 10px;
}

form .pergunta p{
    font-family: LexendMedium;
    font-size: 15px;

    padding: 10px;

    line-height: 1.8;
}

form .pergunta p span{
    color: red;
}

form .resposta{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 51, 56);
}

form .resposta label, form .resposta input{
    cursor: pointer;
}

form .resposta-text input{
    cursor: text;
}

form .resposta-radio{
    margin: 20px 0 40px 0;
    display: flex;
    flex-direction: column;

    width: 80%;
}

form .resposta-radio label{
    margin: 7px;
}

form .resposta-text{
    width: 80%;
    height: 50px;

    background-color: #fff;

    position: relative;

    bottom: 0;
    margin: 15px 0 60px 0;

    overflow: hidden;
}

form .label-name{
    position: relative;
    width: 100%;
    height: 100%;    
}
form .label-name .content-name{
    position: relative;
    width: 100%;
    height: fit-content;
}

form .resposta-text input + .label-name .content-name::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(102, 9, 208);

    position: absolute;
    bottom: 0;
    right: 2000px;

    transition: 0.2s;
}

form .resposta-text input:focus + .label-name .content-name::after,
form .resposta-text input:valid + .label-name .content-name::after{
    right: 0px; 
    bottom: -25px;   
}

form .resposta-text input{
    position: absolute;
    bottom: 0;
    left: 2px;

    width: 100%;
    height: 20px;

    outline: none;
    border: none;

    border-bottom: 1px solid rgb(109, 109, 109);
}

form .resposta-text .label-name{
    position: absolute;
    bottom: 0;
    left: 2px;

    pointer-events: none;
}

form .resposta-text .label-name .content-name{
    font-size: 16px;
    color: rgb(75, 75, 75);
    position: absolute;

    bottom: 1px;
    transition: 0.2s;
}


form .resposta-text input:focus + .label-name .content-name,
form .resposta-text input:valid + .label-name .content-name{
    bottom: 25px;
    font-size: 13px;
    color: rgb(102, 9, 208);
}

form .resposta-check{
    width: 80%;
    height: fit-content;

    position: relative;

    bottom: 0;
    margin: 10px 0 70px 0;

    display: flex;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;
}

form .resposta-check .checks{
    display: flex;

    margin: 5px 0 5px 0;

    width: fit-content;
    height: fit-content;

    align-items: center;
}

form .resposta-check .checks input{
    margin: 10px;

    width: 15px;
    max-width: 15px;
    min-width: 15px;

    height: 15px;
    max-height: 15px;
    min-height: 15px;
}

form button{
    border: none;
    width: fit-content;
    height: fit-content;

    padding: 13px 37px 13px 37px;
    position: relative;

    background-color: rgb(0, 123, 255);
    border-radius: 4px;

    color: #fff;

    text-decoration: none;
    font-family: 'LexendMedium';

    cursor: pointer;
}

.container .thanks{
    width: 100%;
    height: 100vh;

    position: relative;

    margin-bottom: 120px;
    display: none;
    align-items: center;
    justify-content: center;

    padding: 30px;

    flex-direction: column;
}

.thanks h1{
    font-family: LexendMedium;
    text-transform: uppercase;

    margin-bottom: 35px;
    width: 80%;

    color: rgb(19, 19, 19);
}

.thanks p{
    font-family: LexendMedium;
    width: 80%;

    line-height: 2;
    text-align: justify;

    color: rgb(34, 34, 34);
}

.thanks span{
    color: rgb(106, 0, 255);
}

.thanks p a{
    color: rgb(106, 0, 255);
    cursor: pointer;
}


.thanks img{
    width: 100%;
    height: 100%;

    position: absolute;
    object-fit: cover;

    opacity: 20%;
    filter: contrast(2) hue-rotate(10deg);

    pointer-events: none;
    user-select: none;
}


footer{
    height: 80px;
    width: 100%;

    position: absolute;
    bottom: 0;

    margin-top: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(233, 233, 233);
}

footer p{
    color: rgb(24, 24, 24);
    font-family: 'poppinsLight';
    font-size: 13px;

    position: relative;
}

footer p a{
    color: rgb(24, 24, 24);
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    .start{
        width: 90%;
        padding: 10px;
    }
    .container{
    padding: 0px;
    width: 100%;

    }

    .flexes{
    width: 85%;
    }

    .flex:nth-child(1){
        flex-direction: column-reverse;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .flex:nth-child(2){
        flex-direction: column;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 5px;
    }
    
    .flex .about{
        width: 100%;
        height: 50%;

    }
    .flex .image{
        height: 50%;
        width: 100%;

        margin-bottom: 15px;
    }

    .flex .image:nth-child(1) img{
        width: 100%;
        min-width: 200px;
        max-width: 200px;
    }
    .flex .image:nth-child(2) img{
        width: 100%;
        min-width: 115x;
        max-width: 115px;
    }

    .container .toggle-form{
        width: 85%;
    }

    .container .form{
        width: 100%;
        min-width: fit-content;

        border-radius: 0;
    }

    .form form{
        width: 95%;
    }

    form .pergunta{
        width: 95%;
        height: fit-content;
        margin: 5px;
    }

    form .resposta{
        width: 90%;
    }

  }